package ##package##.##bizTag##.domain.ro;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import java.io.Serializable;
##/*import*/##

/**
 * <p><b>{@code @author:}</b>         ##author##</p>
 * <p><b>{@code @description:}</b>
 * <div style='padding: 5px; margin-left: 5px; margin-bottom: 5px;'>
 * ##tableComment## 请求包装类
 * </div>
 * </p>
 * <p><b>{@code @date:}</b>           ##createTime##</p>
 * <p><b>{@code @version:}</b>       ##version##</p>
 * <hr/>
 */
public class ##className##Ro {
    @Data
    @Schema(description = "##tableComment## 请求实例")
	public static class Query extends org.wlpiaoyi.framework.ee.utils.request.Query implements Serializable {

        private static final long serialVersionUID = 1L;

		@JsonSerialize(using = ToStringSerializer.class)
		@Schema(description = "主键id")
		@TableId(value = "id", type = IdType.ASSIGN_ID)
		private Long id;
		<foreach-column>
		/** ##columnComment## **/
		##propertyAnnotationst##
		private ##propertyType## ##propertyName##;
    	</foreach-column>
    }

    @Data
    @Schema(description = "##tableComment## 请求实例")
    public static class Submit implements Serializable {

        private static final long serialVersionUID = 1L;

		@JsonSerialize(using = ToStringSerializer.class)
		@Schema(description = "主键id")
		@TableId(value = "id", type = IdType.ASSIGN_ID)
		private Long id;
		<foreach-column>
		/** ##columnComment## **/
		##propertyAnnotationst##
		private ##propertyType## ##propertyName##;
    	</foreach-column>
    }
}
