package ##package##.##bizTag##.domain.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;
import lombok.EqualsAndHashCode;
import ##package##.domain.entity.BaseEntity;
import lombok.experimental.Accessors;
import java.io.Serializable;
##/*import*/##

/**
 * <p><b>{@code @author:}</b>         ##author##</p>
 * <p><b>{@code @description:}</b>
 * <div style='padding: 5px; margin-left: 5px; margin-bottom: 5px;'>
 * ##tableComment## 实体类
 * </div>
 * </p>
 * <p><b>{@code @date:}</b>           ##createTime##</p>
 * <p><b>{@code @version:}</b>       ##version##</p>
 * <hr/>
 */
@Data
@Accessors(chain=true)
@TableName("##tableName##")
@Schema(description = "##tableComment##")
@EqualsAndHashCode(callSuper = true)
public class ##className## extends BaseEntity implements Serializable {

    private static final long serialVersionUID = 1L;

    <foreach-column>

    /** ##columnComment## **/
    ##propertyAnnotationst##
    private ##propertyType## ##propertyName##;
    </foreach-column>

}
