package ##package##.##bizTag##.service.impl;

import ##package##.##bizTag##.service.I##className##Service;
import ##package##.##bizTag##.domain.entity.##className##;
import ##package##.##bizTag##.domain.mapper.##className##Mapper;
import ##package##.##bizTag##.domain.vo.##className##Vo;
import ##package##.##bizTag##.domain.ro.##className##Ro;
import ##package##.service.impl.BaseServiceImpl;
import org.springframework.context.annotation.Primary;
import org.springframework.stereotype.Service;


/**
 * <p><b>{@code @author:}</b>         ##author##</p>
 * <p><b>{@code @description:}</b>
 * <div style='padding: 5px; margin-left: 5px; margin-bottom: 5px;'>
 * ##tableComment## 服务类实现
 * </div>
 * </p>
 * <p><b>{@code @date:}</b>           ##createTime##</p>
 * <p><b>{@code @version:}</b>       ##version##</p>
 * <hr/>
 */
@Primary
@Service
public class ##className##ServiceImpl extends BaseServiceImpl<##className##Mapper, ##className##> implements I##className##Service {


}
