<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author wlpia:WLPIAOYI-DELL-->
<!--@since 2023-12-28 16:38:04-->
<!--@desc 图片信息-->
<mapper namespace="org.wlpiaoyi.framework.ee.resource.biz.domain.mapper.ImageInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="imageInfoResultMap" type="org.wlpiaoyi.framework.ee.resource.biz.domain.entity.ImageInfo">
        <id column="id" property="id"/>
        <!-- fileId -->
        <result column="file_id" property="fileId"/>
        <!-- 文件后缀 -->
        <result column="suffix" property="suffix"/>
        <!-- width -->
        <result column="width" property="width"/>
        <!-- height -->
        <result column="height" property="height"/>
        <!-- 缩略图 -->
        <result column="thumbnail_id" property="thumbnailId"/>
        <!-- 状态 -->
        <result column="status" property="status"/>
        <!-- 是否删除 -->
        <result column="is_deleted" property="isDeleted"/>
        <!-- 创建人 -->
        <result column="create_user" property="createUser"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 创建部门 -->
        <result column="create_dept" property="createDept"/>
        <!-- 修改人 -->
        <result column="update_user" property="updateUser"/>
        <!-- 修改时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通过已经参数的数据Id查询出图片Id -->
    <select id="selectIdsFromDeletedFile" resultType="java.lang.Long">
        SELECT i.id FROM res_image_info i WHERE i.file_id in (
            SELECT id FROM res_file_info WHERE is_deleted != 0
        );
    </select>

    <!-- 根据图片查询出缩略图Id -->
    <select id="selectThumbnailIdByIds" resultType="java.lang.Long">
        SELECT thumbnail_id FROM res_image_info WHERE thumbnail_id IS NOT NULL AND id IN (
        <foreach item="item" index="index" collection="ids" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <!-- 根据图片Id查询出数据Id -->
    <select id="selectFileIdByIds" resultType="java.lang.Long">
        SELECT file_id FROM res_image_info WHERE id IN (
        <foreach item="item" index="index" collection="ids" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <!-- 根据图片Id删除图片数据 -->
    <delete id="deletedByIds">
        DELETE FROM res_image_info WHERE is_deleted != 0 AND id IN (
        <foreach item="item" index="index" collection="ids" separator=",">
            #{item}
        </foreach>
        )
    </delete>

</mapper>
