<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--@author admin:DESKTOP-RLUL55B-->
<!--@since 2025-12-22 17:09:27-->
<!--@desc 令牌-->
<mapper namespace="org.wlpiaoyi.framework.ee.resource.biz.domain.mapper.TokenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="tokenResultMap" type="org.wlpiaoyi.framework.ee.resource.biz.domain.entity.Token">
        <id column="id" property="id"/>
        <!-- 令牌 -->
        <result column="token" property="token"/>
        <!-- 公钥 -->
        <result column="public_key" property="publicKey"/>
        <!-- 私钥 -->
        <result column="private_key" property="privateKey"/>
        <!-- 状态 -->
        <result column="status" property="status"/>
        <!-- 是否删除 -->
        <result column="is_deleted" property="isDeleted"/>
        <!-- 创建人 -->
        <result column="create_user" property="createUser"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime"/>
        <!-- 创建部门 -->
        <result column="create_dept" property="createDept"/>
        <!-- 修改人 -->
        <result column="update_user" property="updateUser"/>
        <!-- 修改时间 -->
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 单次插入所有字段 -->
    <insert id="insertAll">
        INSERT INTO `res_token`
        (
        `id`,
        `token`, 
        `public_key`, 
        `private_key`, 
        `status`, 
        `is_deleted`, 
        `create_user`, 
        `create_time`, 
        `create_dept`, 
        `update_user`, 
        `update_time`
        )
        VALUES (
        #{item.id},
        #{item.token}, 
        #{item.publicKey}, 
        #{item.privateKey}, 
        #{item.status}, 
        #{item.isDeleted}, 
        #{item.createUser}, 
        #{item.createTime}, 
        #{item.createDept}, 
        #{item.updateUser}, 
        #{item.updateTime}
        )
    </insert>

    <!-- 批量插入所有字段 -->
    <insert id="insertAllBatch" parameterType="java.util.List">
        <foreach collection="items" item="item" index="index" open="" close="" separator=";">
            INSERT INTO `res_token`
            (
            `id`,
            `token`, 
            `public_key`, 
            `private_key`, 
            `status`, 
            `is_deleted`, 
            `create_user`, 
            `create_time`, 
            `create_dept`, 
            `update_user`, 
            `update_time`
            )
            VALUES (
            #{item.id},
            #{item.token}, 
            #{item.publicKey}, 
            #{item.privateKey}, 
            #{item.status}, 
            #{item.isDeleted}, 
            #{item.createUser}, 
            #{item.createTime}, 
            #{item.createDept}, 
            #{item.updateUser}, 
            #{item.updateTime}
            )
        </foreach>
    </insert>

    <!-- 单次更新所有字段 -->
    <update id="updateAll">
        UPDATE `res_token`
        SET
        `token` = #{item.token}, 
        `public_key` = #{item.publicKey}, 
        `private_key` = #{item.privateKey}, 
        `status` = #{item.status}, 
        `is_deleted` = #{item.isDeleted}, 
        `create_user` = #{item.createUser}, 
        `create_time` = #{item.createTime}, 
        `create_dept` = #{item.createDept}, 
        `update_user` = #{item.updateUser}, 
        `update_time` = #{item.updateTime}
        WHERE (`id` = '${item.id}')
    </update>

    <!-- 批量更新所有字段 -->
    <update id="updateAllBatch" parameterType="java.util.List">
        <foreach collection="items" item="item" index="index" open="" close="" separator=";">
            UPDATE `res_token`
            SET
                `token` = #{item.token}, 
                `public_key` = #{item.publicKey}, 
                `private_key` = #{item.privateKey}, 
                `status` = #{item.status}, 
                `is_deleted` = #{item.isDeleted}, 
                `create_user` = #{item.createUser}, 
                `create_time` = #{item.createTime}, 
                `create_dept` = #{item.createDept}, 
                `update_user` = #{item.updateUser}, 
                `update_time` = #{item.updateTime}
            WHERE (`id` = 'item.id')
        </foreach>
    </update>

    <!-- 批量物理删除 -->
    <delete id="deleteAllBatch" parameterType="java.util.List">
        <foreach collection="items" item="item" separator=";">
            DELETE FROM `res_token` WHERE (`id` = '${item}')
        </foreach>
    </delete>


</mapper>