package ##package##.##bizTag##.domain.vo;

import lombok.Data;
import lombok.EqualsAndHashCode;
import java.io.Serializable;
import ##package##.##bizTag##.domain.entity.##className##;

/**
 * <p><b>{@code @author:}</b>         ##author##</p>
 * <p><b>{@code @description:}</b>
 * <div style='padding: 5px; margin-left: 5px; margin-bottom: 5px;'>
 * ##tableComment## 视图实体类
 * </div>
 * </p>
 * <p><b>{@code @date:}</b>           ##createTime##</p>
 * <p><b>{@code @version:}</b>       ##version##</p>
 * <hr/>
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ##className##Vo extends ##className## implements Serializable {
	private static final long serialVersionUID = 1L;

}
